.home-container {
  background-color: #f2f2f2;
  padding: 20px;
}

.home-title {
  font-size: 24px;
  color: #333;
}

.home-country-select {
  margin-bottom: 10px;
}

.home-selected-info {
  margin-top: 20px;
  font-size: 18px;
  color: #666;
}
